
@{
    ViewData["Title"] = "Login";

}
@model RegisterViewModel;
<h1>Login</h1>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
@Html.TextBoxFor(m => m.userName)
@Html.PasswordFor(m=>m.password)
<input type="submit" value="Submit"/>
}
