@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Logout", "Logout", "Account")
}
else
{
    <br>
    @Html.ActionLink("Login", "Login", "Account")
    <br />
    <br>
    @Html.ActionLink("Register", "Register", "Account")
    <br/>

}
@if (User.Identity.IsAuthenticated)
{


    <div>
        Hej, im @User.Identity.Name
        My role is:
        @if (User.IsInRole("Admin"))
        {
            <div>Admin</div>
        }
    </div>
}
